<div class="teams">
  <div class="teams__container">

    <div style="text-align: right">
      <button class="teams__add-button" (click)="createTeam()"
              mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Добавить
      </button>
    </div>
    <table mat-table [dataSource]="teams">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Название </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="amountReferee">
        <th mat-header-cell *matHeaderCellDef> Оценка судей </th>
        <td mat-cell *matCellDef="let element"> {{element.amountReferee}} </td>
      </ng-container>

      <ng-container matColumnDef="amountNotReferee">
        <th mat-header-cell *matHeaderCellDef> Оценка экспертов </th>
        <td mat-cell *matCellDef="let element"> {{element.amountNotReferee}} </td>
      </ng-container>

      <ng-container matColumnDef="amountAll">
        <th mat-header-cell *matHeaderCellDef> Оценка всех </th>
        <td mat-cell *matCellDef="let element"> {{element.amountAll}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editTeam(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTeam(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
