<div class="criterion-settings">
  <form>
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input type="text" matInput required #fieldName="ngModel" name="name"
             [(ngModel)]="criterionRequest.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Описание</mat-label>
      <textarea matInput required #fieldDesc="ngModel" name="desc"
                [(ngModel)]="criterionRequest.description"></textarea>
    </mat-form-field>
    <button mat-raised-button (click)="returnRequest()"
            [disabled]="fieldName.invalid || fieldDesc.invalid"
            color="primary">
      Сохранить
    </button>
  </form>
</div>
