<div class="left-menu">
  <a routerLink="/sdas" [routerLinkActive]="'left-menu__item--active'"
     class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/settings-icon.svg">
    <span class="left-menu__item-text">Чекпоинт</span>
  </a>
  <a routerLink="/asdsa" [routerLinkActive]="'left-menu__item--active'"
     class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/settings-icon.svg">
    <span class="left-menu__item-text">Демофест</span>
  </a>
  <a routerLink="/ssd" [routerLinkActive]="'left-menu__item--active'"
     class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/settings-icon.svg">
    <span class="left-menu__item-text">Итоги</span>
  </a>
  <a routerLink="/settings" [routerLinkActive]="'left-menu__item--active'"
     style="margin-top: 70px" class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/settings-icon.svg">
    <span class="left-menu__item-text">Настройки</span>
  </a>
</div>
