<div class="left-menu">
  <a routerLink="/teams" [routerLinkActive]="'left-menu__item--active'"
     class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/teams-icon.svg">
    <span class="left-menu__item-text">Команды</span>
  </a>
  <a routerLink="/settings" [routerLinkActive]="'left-menu__item--active'"
     style="margin-top: 70px" class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/settings-icon.svg">
    <span class="left-menu__item-text">Категории</span>
  </a>
  <a routerLink="/users" [routerLinkActive]="'left-menu__item--active'"
     style="margin-top: 70px" class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/users.svg">
    <span class="left-menu__item-text">Пользователи</span>
  </a>
  <a routerLink="/users-new" [routerLinkActive]="'left-menu__item--active'"
     style="margin-top: 70px" class="left-menu__item">
    <div class="left-menu__item-left"></div>
    <img src="assets/images/users.svg">
    <span class="left-menu__item-text">Пользователи Новые</span>
  </a>
</div>
